<div class="row">
    <div class="col-sm-6">
        <%= form_with model: @community do |f| %>
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :url %>
                <%= f.text_field :url, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :rules %>
                <%= f.text_area :rules, class: "form-control" %>
            </div>
            <%= f.submit "Create community", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>